<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        
        <!-- <script>


            // Set starting value of counter to ''
            if (!localStorage.getItem('messages'))
                localStorage.setItem('messages', '');


            document.addEventListener('DOMContentLoaded', () => {

                //By default, submit button is disabled
                document.querySelector('#send').disabled=true;

                 // Enable button only if there is text in the input field
                 document.querySelector('#message').onkeyup = () => {
                    if (document.querySelector('#message').value.length > 0)
                        document.querySelector('#send').disabled = false;
                    else
                        document.querySelector('#send').disabled = true;
                };

                document.querySelector('#new_message').onsubmit=() => {

                    //Create a new message for the chat box
                    const li = document.createElement('li');
                    li.innerHTML=document.querySelector('#message').value;

                    //Add new item to message box
                    document.querySelector('#messages').append(li);
                   
                   // Clear input field and disable button again
                    document.querySelector('#message').value = '';
                    document.querySelector('#send').disabled = true;

                    // Stop form from submitting
                    return false;
                }

             // Load current value of  messages
                document.querySelector('#messages').innerHTML = localStorage.getItem('messages');

                // Count every time button is clicked
                document.querySelector('#send').onclick = () => {
                    // Increment current counter
                    let messages = localStorage.getItem('messages');
                        messages=messages+messages;
                        //messages='';

                    // Update counter
                    document.querySelector('#messages').innerHTML = messages;
                    localStorage.setItem('messages', messages);
                }
            });

        </script> -->
        <title>My Website</title>
    </head>
    <body>

        <ul id="messages">
        </ul>
        <hr>
<!--         <form  id="new_message">
            <div class="form-group">
                <input id="message" autocomplete="off"  type="text" placeholder="Write a message"><br><br>
                <input id="send" type="button" data-message="Hola" value="Send"> 
            </div>
        </form> -->
        <button data-message="yes">Yes</button>
        <button data-message="no">No</button>
        <button data-message="maybe">Maybe</button>
    </body>
</html>
