
//SCSS VARIABLES
$colorBorder: rgb(25, 0, 255);
$colorBorderTableTh: rgb(0, 238, 255);
$colorBackgroundTableTd: rgb(240, 236, 6);
$colorUl: rgb(2, 1, 8);
$fontStyleUl: italic;
$textlarge: "Jonnathan Fabricio Crespo";
$textshort: "Fabricio Crespo";

h1, h2 {
    background-color: rgb(16, 109, 185);
    font-family: 'Archivo Black'; 
    font-size: 22px;
    margin: 50px;
}

p, img {
    margin: 50px;
    font-family: 'Adamina';font-size: 22px;
}


//mobile-responsive @media query only works with firefox browser
@media(min-width: 500px) {
    //Selector ::before
    h1::before{
        content: $textlarge;
    }
}
@media(max-width: 499px){
    //Selector ::before
    h1::before{
        content: $textshort;
    }
}

//SCSS nesting, TABLE
table {
    //CSS properties,
    border: 2px solid $colorBorder;
    border-collapse: collapse;
    width: 50%;
    margin: 50px;


    th, td {
        border: 1px solid $colorBorderTableTh;
        padding: 5px;
        text-align: center;
    }

    td {
        background-color: $colorBackgroundTableTd;
    }
}

//UNORDERER LIST
ul {
    font-size: 20px;
    color: $colorUl;
    font-style: $fontStyleUl;
    margin: 50px;
}

// INHERITANCE SCSS
%message {
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
}
//Selector .class
.hometown {
    @extend %message;
    background-color: rgb(131, 43, 91);
}

.sport {
    @extend %message;
    background-color: orange;
}

.music {
    @extend %message;
    background-color: red;
}

.socialNetworks {
    @extend %message;
    background-color: rgb(0, 255, 85);
}
